<h1>The {{phase}} {{year}} phase has been adjudicated.</h1>

<p>The outcome can be viewed at <a href="{{gameURL}}">{{gameURL}}</a>.</p>

<p>The deadline for the next phase ({{nextPhase}} {{nextYear}}) is <strong>{{deadline}}</strong>.</p>
