<h1>The game {{gameName}} is starting!</h1>

<p>{{powerDesignation}}. You can start playing right away by visiting the game page at <a href="{{gameURL}}">{{gameURL}}</a>.</p>

<p>The deadline for the {{season}} {{year}} season is <strong>{{deadline}}</strong>.</p>
