<h1>The game {{gameName}} is starting!</h1>

<p>{{powerDesignation}} <a href="{{gameURL}}">{{gameURL}}</a>.</p>

<p>The deadline for the {{phase}} {{year}} phase is <strong>{{deadline}}</strong>.</p>
